# --- Security & Keys ---
master.key
credentials.json
token.pickle
.env

# --- Databases ---
*.db
mujahid_vault.db
database/

# --- Python & IDE ---
__pycache__/
*.pyc
venv/
.idea/
.vscode/

# --- Log Files ---
*.log