# Secret Database (Aapki 4 lakh files ka data)
*.db
mujahid_vault.db

# Google API Keys aur Tokens (Aapki personal access)
credentials.json
token.pickle

# Python ki temporary files
__pycache__/
*.pyc
venv/
.env

# Local settings
.idea/
.vscode/